.footer__items {
    margin: 0;
	padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
	flex-wrap: nowrap;
	column-gap: 18px;
}
@media screen and (max-width: 713px) {
    .footer__items {
      flex-direction: column;
	  align-content: flex-start;
	  justify-content: left;
	  row-gap: 32px;
    }
}
