.footer__link {
    margin: 0;
	padding: 0;
    max-width: fit-content;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 112%;
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
    }
}