.footer {
  max-width: 100%;
  margin: 92px 48px 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}


@media screen and (max-width: 1023px) {
    .footer {
      margin: 88px 24px 24px;
    }
}
@media screen and (max-width: 713px) {
    .footer {
      flex-direction: column;
      justify-content: left;
	  align-items: start;
	  row-gap: 48px;
      margin: 64px 118px 24px 16px;

    }
}